.menu-button {
  position: relative;
  height: 42px;
  width: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $mediumBlackColor;
  transition: all .3s ease;
  padding: 10px;
  overflow: hidden;

  &:hover {
    color: $lightBlueColor;
    border-color: $lightBlueColor;

    span {
      background-color: $lightBlueColor;
    }
  }

  &__item {
    height: 2px;
    width: 20px;
    background-color: $mediumBlackColor;
    transition: all .3s ease;

    &:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      z-index: 1;
    }

    &:nth-of-type(3) {
      position: relative;
      z-index: 2;
    }
  }
}